# Composer Related
composer.lock
/vendor

# Caches
.phpunit.cache
.phpunit.result.cache
/build
/coverage

# Editors
/.idea
/.fleet
/.vscode
*.swp
.DS_Store

# Misc
phpunit.xml
phpstan.neon
.env
.env.local
